<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<meta name="MovieGist" content="search/create movie and tvshow threads and give honest opinons on the what you personally think about the contents, actors and producers">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="movies, tvshows, hollywood, bollywood, nollywood">
	<title>Movie Gist {% block title %} | Login {% endblock %}</title>
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link type="text/css" media="screen and (max-width: 700px)" rel="stylesheet" href="{% static 'css/style2.css' %}" />
	<link type="text/css" media="screen and (min-width: 701px) and (max-width: 1200px)" rel="stylesheet" href="{% static 'css/style3.css' %}" />
	<style>	
		@media(max-width: 700px){
			#logA{
				font-size: 13px;
			}
		}
		#logA{
			position: absolute;
			right: 15px;
			bottom: 65px;
			color: black;
		}
		#logB{
			position: absolute;
			right: 15px;
			bottom: 40px;
			color: black;
		}
	</style>
</head>
<body>
	<!-- header -->
	<header><a href="{% url 'index' %}">MovieGist</a></header>

	<!-- navbar -->
	<div >
	<ul id="bigscreens">
		<li >
			<!-- dropdowns -->
			<a href="#" id="Hollywood">Hollywood</a>
			<ul id="hlist">
				<li><a href="{% url 'hmovies' %}" id="Movies" >Movies</a></li>
				<li><a href="{% url 'htvshows' %}" id="Tvs">Tv Series</a></li>
			</ul>
		</li>
		<li>
			<a href="#" id="Nollywood">Nollywood</a>
			<ul id="nlist">
				<li><a href="#" id="Movies" >Movies</a></li>
				<li><a href="#" id="Tvs">Tv Series</a></li>
			</ul>
		</li>
		<li>
			<a href="#" id="bollywood">Bollywood</a>
			<ul id="blist">
				<li><a href="#" id="Moviess" >Movies</a></li>
				<li><a href="#" id="Tvs">Tv Series</a></li>
			</ul>
		</li>
		{% if user.is_authenticated %}
			<li>
				<li><a href="{% url 'index' %}" id="login">welcome, {{ user.username }}</a></li>
				<li>
					<a href="javascript:{$('#logout').submit()}" style="">logout</a>
					<form id="logout" method="POST" action="{% url 'logout' %}">
						{% csrf_token %}
						<input type="hidden">
					</form>
				</li>
			</li>
		{% else %}
		<li>
			<li><a href="{% url 'login' %}" id="login">Login</a></li>
			<li><a href="{% url 'register' %}" id="reg" style="position: absolute;right:100px;">Register</a></li>
		</li>
		{% endif %}
	</ul>
	<!-- navbar -- mobile phones -->
	<ul id="smallscreens">
		<li ><img src="{% static 'img/menu.png' %}" style="width:30px;height: 30px;">
			<ul>
				<li>
					<a href="#" id="Hollywood-smallscreen">Hollywood</a>	
					<ul id="ul-smallscreen1">
						<li><a href="{% url 'hmovies' %}" >Movies</a></li>
						<li><a href="{% url 'htvshows' %}" >Tv series</a></li>
					</ul>
				</li>
				<li>
					<a href="#" id="Nollywood-smallscreen">Bollywood</a>
					<ul id="ul-smallscreen2">
						<li><a href="{% url 'nmovies' %}" >Movies</a></li>
						<li><a href="{% url 'ntvshows' %}" >Tv series</a></li>
					</ul>
				</li>
				<li>
					<a href="#" id="Bollywood-smallscreen">Nollywood</a>
					<ul id="ul-smallscreen3">
						<li><a href="{% url 'bmovies' %}" >Movies</a></li>
						<li><a href="{% url 'btvshows' %}" >Tv series</a></li>
					</ul>
				</li>
				{% if user.is_authenticated %}
				<li>
					<a href="javascript:{$('#logout').submit()}" style="">logout</a>
					<form id="logout" method="POST" action="{% url 'logout' %}">
						{% csrf_token %}
						<input type="hidden">
					</form>
				</li>
				{% endif %}
			</ul>
		</li>
		{% if user.is_authenticated %}
			<li>
				<li><a href="{% url 'index' %}" id="login">welcome, {{ user.username }}</a></li>
			</li>
		{% else %}
		<li>
			<li><a href="{% url 'login' %}" id="login">Login</a></li>
			<li><a href="{% url 'register' %}" id="reg" style="position: absolute;right:100px;">Register</a></li>
		</li>
		{% endif %}
	</ul>
	</div>
	<!-- movie images -->
	<div class="container" id="form-container" style="background-color: white;">
        <h5>login?</h5>
        {% include 'partials/_alerts.html' %}
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
			<div class="form-group" style="margin-top: 30px;">
			    <label for="exampleInputEmail1">Username</label>
			    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username" name="username">
			</div>
			<div class="form-group">
			    <label for="Password1">Password</label>
			    <input type="password" class="form-control" id="" placeholder="Password" name="password">
			</div>
			<button type="submit" class="btn btn-primary btn-lg">Login</button>
		</form>
		<a href="{% url 'register' %}" id="logA">Dont have an account? Register</a><br>
		<a href="#" id="logB">forgot password?</a>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static  'script/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'script/script.js' %}"></script>
<script src="{% static 'script/bootstrap.bundle.js' %}"></script>
<script>
    setTimeout(function(){
        $('#message').fadeOut('slow');
    }, 2000);
</script>
</html>

