{% extends 'base.html' %}
{% load static %}

{% block content %}


<div id="howtouse-div">
<p style="margin:40px;">
    Hey guys, here is a quick tutorial on how to use moviegist:<br>
    <br>
    The moviegist webapp is for movie lovers who would like to criticize or give a thumbs-up to the movie  they just finished seeing
    i.e tell other movie lovers their view on a particular movie/tvshow. Below are quick steps on how to use moviegist
    <br>
    - There are 3 categories<br>
     Hollywood<br>
     Bollywood and Asian<br>
     Nollywood<br>
    - Each categories contains 2 sections namely Movies,tvshows<br>
         you can navigate to these pages from the homepage and select the section you wish to comment or creat a thread on<br>
         <br>
    <b>CREATING A MOVIE/TVSHOW THREAD</b><br>

    - Navigate to the category of your choosing and search for a movie/tvshow you want to comment on <br>
    - if the movie/tvshow exists you can click on it and tell us what you think <br>
    - if it doesnt exsit you can create a movie thread or a tvshow thread depending on the section and post <br>
    - the create movie/tvshow thread is located at the top right corner of every section you click on <br>
    <br>
    <b>COMMENTING ON A MOVIE/TVSHOW</b><br>

    - just click on the movie you wish to talk about and post a comment<br>
    - it is compulsory to vote if the movie is worth seeing or not before posting your comment<br>
    <br>
    <br>
    IMPORTANT- you have to register and login before you can succesfully interact with moviegist and please
    if you have any suggestions do not hesitate to reach us on the contact page
</p>

    
</div>

{% endblock %}


