{% extends 'base.html' %}
{% load static %}

	{% block content %}
	<style>
		@media(max-width: 720px){
            
		}
		@media(min-width: 721px) and (max-width: 1100px){
			img{
				height: 200px;
				width: 200px;
			}
		}
	</style>
	<!-- movie images -->
	<h1 id="holly-h1">Hollywood</h1>
	{% include 'partials/_alerts.html' %}
	<div id="wrapper-hollywood">
		{% if hmovies %}
			{% for movie in hmovies %}
			<a href="{% url 'hmovie' movie.id %}">
			<figure id="child">
				<img src='{{movie.image.url}}'>
				<figcaption>{{movie.name}}</figcaption>
			</figure>
			</a>
			{% endfor %}
		{% else %}
		<h1>No movies available</h1>
		{% endif %}
	</div>
	<h1 id="bolly-h1">Bollywood & Asian</h1>
	<div id="wrapper-bollywood">
		{% if bmovies %}
			{% for movie in bmovies %}
			<a href="{% url 'bmovie' movie.id %}">
			<figure id="child">
				<img src='{{movie.image.url}}'>
				<figcaption>{{movie.name}}</figcaption>
			</figure>
			</a>
			{% endfor %}
		{% else %}
		<h1>No movies available</h1>
		{% endif %}
	</div>
	<h1 id="nolly-h1">Nollywood</h1>
	<div id="wrapper-nollywood">
		{% if nmovies %}
			{% for movie in nmovies %}
			<a href="{% url 'nmovie' movie.id %}">
			<figure id="child">
				<img src='{{movie.image.url}}'>
				<figcaption>{{movie.name}}</figcaption>
			</figure>
			</a>
			{% endfor %}
		{% else %}
		<h1>No movies available</h1>
		{% endif %}
	</div>
	<footer>
		<a href="{% url 'contact' %}" style="margin: 5px;">Send us a message</a>
	</footer>
{% endblock %}
	
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static  'script/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'script/bootstrap.bundle.js' %}"></script>
<script src="{% static 'script/script.js' %}"></script>
</html>