#smallscreens{
	display: none;
	
}
#bigscreens{
	display:block;
}
li{
	width: 110px;
}
a{
	text-align: center;
}
#ul-smallscreen1,#ul-smallscreen2,#ul-smallscreen3{
	display: none;
}
#wrapper-hollywood{
	background-color: linear-gradient(to right,#0c0303,#282020);
	position: absolute;
	top: 780px;
	width: 100%;
	display: flex;
	flex-direction: row;
	z-index: -10;
	justify-content: center;
	flex-wrap: wrap;
	
}
#wrapper-bollywood{
	background-color: linear-gradient(to right,#0c0303,#282020);
	position: absolute;
	top: 1100px;
	width: 100%;
	display: flex;
	flex-direction: row;
	z-index: -10;
	justify-content: center;
	flex-wrap: wrap;
	
}
#wrapper-nollywood{
	background-color: linear-gradient(to right,#0c0303,#282020);
	position: absolute;
	top: 1420px;
	width: 100%;
	display: flex;
	flex-direction: row;
	z-index: -10;
	justify-content: center;
	flex-wrap: wrap;
	
}
#wrapper-hollywood-tvshow{
	background-color: linear-gradient(to right,#0c0303,#282020);
	position: absolute;
	top: 1780px;
	width: 100%;
	display: flex;
	flex-direction: row;
	z-index: -10;
	justify-content: center;
	flex-wrap: wrap;
	margin: 20px;
	

	
}
#wrapper-bollywood-tvshow{
	background-color: linear-gradient(to right,#0c0303,#282020);
	position: absolute;
	top: 2100px;
	width: 100%;
	display: flex;
	flex-direction: row;
	z-index: -10;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 40px;
	
}
#wrapper-nollywood-tvshow{
	background-color: linear-gradient(to right,#0c0303,#282020);
	position: absolute;
	top: 2420px;
	width: 100%;
	display: flex;
	flex-direction: row;
	z-index: -10;
	justify-content: center;
	flex-wrap: wrap;
	margin: 20px;
	margin-top: 40px;
	
}
#child{
	width: 200px;
	height: 200px;
	background-color: #e0d9d9;
	margin: 10px;
	color: red;	
	cursor: pointer;
}
#holly-h1{
	color:#ffbb00;
	margin: 10px;
	position: absolute;
	top: 700px;
	z-index: -10;
	text-align: center;
}
#bolly-h1{
	color:#ffbb00;
	margin: 10px;
	position: absolute;
	top: 1050px;
	z-index: -10;
}
#nolly-h1{
	color:#ffbb00;
	margin: 10px;
	position: absolute;
	top: 1380px;
	z-index: -10;
}
#holly-h1-tvshow{
	color:#ffbb00;
	width: 100%;
	margin: 20px;
	position: absolute;
	top: 1700px;
	z-index: -10;
	text-align: center;
}
#bolly-h1-tvshow{
	color:#ffbb00;
	width: 100%;
	margin-top: 40px;
	position: absolute;
	top: 2020px;
	z-index: -10;
	text-align: center;
}
#nolly-h1-tvshow{
	color:#ffbb00;
	width: 100%;
	margin: 20px;
	position: absolute;
	top: 2350px;
	z-index: -10;
	text-align: center;
	margin-top: 40px;
}
footer{
	background-color: #ffbb00;
	position: absolute;
	top: 3000px;
	width: 100%;
	height: 100px;
	line-height: 100px;
}
#ll{
	float: right;
	color:blue;
	position: absolute;
	right: 10px;
}
#formsearch{
	float: right;
	position: absolute;
	top: 110px;
	right: 0;
	z-index: -2;
}
img{
	height: 200px;
	width: 200px;
	width: 1fr 1fr 1fr;
}
figcaption{
	font-size: 15px;
	text-align: center;
	color: #ffbb00;
	background-color: linear-gradient(to right,#0c0303,#282020);
	font-family: "Noto Sans";
}
#holly-h1{
	color:#ffbb00;
	margin: 10px;
	position: absolute;
	top: 720px;
	z-index: -10;
	text-align: center;
}
#movie-img{
	width: 329px;
}
#contactus-div{
	width: 60%;
	background-color: #49D32A;
	margin: 30px;
	height: 600px;
	z-index: -1;
	margin-top: 100px;
}
#input-gist{
	position: absolute;
	right: 100px;
	height: 50px;
	width: 650px;
	border-radius: 5px;
	padding: 10px;
}
