<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} | Upload {% endblock %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
</head>
<body>
    {% block content %}
    <style>
        label{
            color:#F9F9F9;
        }
        i{
            color: black;
        }
        @media(max-width: 700px){
            textarea{
                width: 200px;
            }
        }
    </style>
    <div class="container" id="form-container" style="">
        <h5>create your movie thread</h5>
        <form method="POST" enctype="multipart/form-data" action="" >
        {% csrf_token %}
            <div style="margin-top: 20px;">
            <label for="{{form.name.id_for_label}}" style="color:black;">Name:</label><br>
                {% render_field form.name class="input" placeholder='Movie name'%}
                <br>
                <br>
            </div>
            <div>
            <label for="{{form.description.id_for_label}}" style="color:black;">Description:</label><br>
                {% render_field form.description class="input" placeholder='your brief description of the movie'%}
            </div>
            <div>
            <label for="{{form.description.id_for_label}}" style="color:black;">Release Year:</label><br>
                {{ form.year_of_release }}
            </div>
            <div>
            <label for="{{form.image.id_for_label}}" style="color:black;">Image: </label><br>
                {{ form.image }}
                <br>
                <br>
            </div>
            <div style="margin-bottom: 20px;">
                <button type="submit" class="btn btn-primary btn-lg" value="post">Post</button>
            </div>
        </form>   
    </div>
    {% endblock %}
</body>
</html>