{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    @media(max-width: 720px){
        img{
            width: 200px;
            height: 200px;
            background-color: #e0d9d9;	
            cursor: pointer;
        }
        a:hover{
            background-color: none;
        }
        figCaption{
            font-size: 20px;
        }
    }
</style>
<div style="position: absolute;top:220px;width: 40%;z-index:-10">
    {% if nmovies %}
        {% for movie in nmovies %}
            <li style="list-style-type:none;width:100%">
                <figure style="margin: 15px;">
                    <img src="{{movie.image.url}}">
                    <figcaption ><a href="{% url 'nmovie' movie.id  %}" style="text-align: left;">{{movie.name}}</a></figcaption>
                </figure>
            </li>
        {% endfor %}
    {% else %}
        <h1 style="color: brown;"> No movie with that name</h1>
    {% endif %}
</div>
{% endblock %}