<!DOCTYPE html>
{% load static %}

<html>
<head>
	<meta charset="utf-8">
	<meta name="MovieGist" content="search/create movie and tvshow threads and give honest opinons on the what you personally think about the contents, actors and producers">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="movies, tvshows, hollywood, bollywood, nollywood">
	<title>Movie Gist {% block title %} | Home {% endblock %}</title>
	<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
	<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
	<link type="text/css" media="screen and (max-width: 700px)" rel="stylesheet" href="{% static 'css/style2.css' %}" />
	<link type="text/css" media="screen and (min-width: 701px) and (max-width: 1200px)" rel="stylesheet" href="{% static 'css/style3.css' %}" />
</head>
<style>
	@media(max-width: 720px){
		#wrapper-hollywood{
			top: 250px;
		}
		#wrapper-bollywood{
			top: 490px;
		}
		#wrapper-nollywood{
			top: 790px;
		}
		#holly-h1{
			top: 200px;
		}
		#formsearch{
			top: 130px;
		}
		#child{
			width: 110px;
			height: 110px;
		}
		img{
			height: 110px;
			width: 110px;
		}
	}
	@media(min-width: 721px and max-width: 900px;){
		img{
			height: 200px;
			width: 200px;
		}
	}
</style>
<body>
	<!-- header -->
	<header><a href="{% url 'index' %}">MovieGist </a></header>

	<!-- navbar -->
	<div >
	<ul id="bigscreens">
		<li >
			<!-- dropdowns -->
			<a href="#" id="Hollywood">Hollywood</a>
			<ul id="hlist">
				<li><a href="{% url 'hmovies' %}" id="Movies" style="color: #b55353;" >Movies</a></li>
				<li><a href="{% url 'htvshows' %}" id="Tvs" style="color: #b55353;">Tv Series</a></li>
			</ul>
		</li>
		<li>
			<a href="#" id="Nollywood">Nollywood</a>
			<ul id="nlist">
				<li><a href="{% url 'nmovies' %}" id="Movies" style="color: #b55353;">Movies</a></li>
				<li><a href="{% url 'ntvshows' %}" id="Tvs" style="color: #b55353;">Tv Series</a></li>
			</ul>
		</li>
		<li>
			<a href="#" id="bollywood">Bollywood</a>
			<ul id="blist">
				<li><a href="{% url 'bmovies' %}" id="Moviess" style="color: #b55353;" >Movies</a></li>
				<li><a href="{% url 'btvshows' %}" id="Tvs" style="color: #b55353;">Tv Series</a></li>
			</ul>
		</li>
		{% if user.is_authenticated %}
			<li>
				<li><a href="{% url 'index' %}" id="login">welcome, {{ user.username }}</a></li>
				<li style="background-color:#e2d3d3;">
					<a href="javascript:{$('#logout').submit()}" style="">logout</a>
					<form id="logout" method="POST" action="{% url 'logout' %}">
						{% csrf_token %}
						<input type="hidden">
					</form>
				</li>
			</li>
		{% else %}
		<li>
			<li><a href="{% url 'login' %}" id="login">Login</a></li>
			<li><a href="{% url 'register' %}" id="reg" style="position: absolute;right:100px;">Register</a></li>
		</li>
		{% endif %}
	</ul>
	<!-- navbar -- mobile phones -->
	<ul id="smallscreens">
		<li ><img src="{% static 'img/menu.png' %}" style="width:30px;height: 30px;">
			<ul>
				<li>
					<a href="#" id="Hollywood-smallscreen">Hollywood</a>	
					<ul id="ul-smallscreen1">
						<li><a href="{% url 'hmovies' %}" style="color: #b55353;">Movies</a></li>
						<li><a href="{% url 'htvshows' %}" style="color: #b55353;">Tv series</a></li>
					</ul>
				</li>
				<li>
					<a href="#" id="Nollywood-smallscreen">Bollywood</a>
					<ul id="ul-smallscreen2">
						<li><a href="{% url 'bmovies' %}" style="color: #b55353;">Movies</a></li>
						<li><a href="{% url 'btvshows' %}" style="color: #b55353;">Tv series</a></li>
					</ul>
				</li>
				<li>
					<a href="#" id="Bollywood-smallscreen">Nollywood</a>
					<ul id="ul-smallscreen3">
						<li><a href="{% url 'nmovies' %}" style="color: #b55353;">Movies</a></li>
						<li><a href="{% url 'ntvshows' %}" style="color: #b55353;">Tv series</a></li>
					</ul>
				</li>
				<li><a href="{% url 'contact' %}" id="reg" >ContactUs</a></li>
				{% if user.is_authenticated %}
				<li>
					<a href="javascript:{$('#logout').submit()}" style="">logout</a>
					<form id="logout" method="POST" action="{% url 'logout' %}">
						{% csrf_token %}
						<input type="hidden">
					</form>
				</li>
				<li><a href="{% url 'contact' %}" id="reg" style="position: absolute;right:100px;">Contact Us</a></li>
				{% endif %}
			</ul>
		</li>
		{% if user.is_authenticated %}
			<li>
				<li><a href="{% url 'index' %}" id="login">welcome, {{ user.username }}</a></li>
				
			</li>
		{% else %}
		<li>
			<li><a href="{% url 'login' %}" id="login">Login</a></li>
			<li><a href="{% url 'register' %}" id="reg" style="position: absolute;right:100px;">Register</a></li>
		</li>
		{% endif %}
	</ul>
	</div>
	<!-- search button -->
	<form method="get" id="formsearch" style="margin: 5px;" >
		<input type="search" name="searcher" placeholder="search movie" maxlength="20">
		<input type="submit" name="submit" id="submit" value="search">
	</form>
	<!-- movie images -->
	{% block content %} 
	
	{% endblock %}
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static  'script/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'script/bootstrap.bundle.js' %}"></script>
<script src="{% static 'script/script.js' %}"></script>
<script>
	/** function for displaying the hover menu on small devicesb **/
$(function(){
	$('#Hollywood-smallscreen').click(function(){
		$('#ul-smallscreen1').css({'display':'block'});
	});
	$('#Hollywood-smallscreen').dblclick(function(){
		$('#ul-smallscreen1').css({'display':'none'});
	});
	$('#Nollywood-smallscreen').click(function(){
		$('#ul-smallscreen2').css({'display':'block'});
	});
	$('#Nollywood-smallscreen').dblclick(function(){
		$('#ul-smallscreen2').css({'display':'none'});
	});
	$('#Bollywood-smallscreen').click(function(){
		$('#ul-smallscreen3').css({'display':'block'});
	});
	$('#Bollywood-smallscreen').dblclick(function(){
		$('#ul-smallscreen3').css({'display':'none'});
	});
	$('a').active(function(){
		$(this).css({'#':'#'});
	});
	setTimeout(function(){
		$('#message').fadeOut('slow');
	}, 2000);
	$('#like-button').click(function(){
		$(this).attr({'class':'disabled'});
	});
});

</script>
</html>